@media all and (max-width: 1510px){

    .contentProfile{
        height: 75%;
        width:35vw;
    }

    .contentLeft img{
        margin-top:50px;
        width:60%;
        border-radius: 50px;
    }

    .contentLeft h1{
        padding-top:30px;
        font-size: 50px;
    }
}

@media all and (max-width: 1350px){

    .contentProfile{
        height: 80%;
        width:40vw;
    }

}

@media all and (max-width: 1220px){

    .contentProfile{
        height: 85%;
        
    }

}

@media all and (max-width: 1100px){

    .contentProfile{
        width:45vw;
    }

    .htmlCSS, .skillOthers{
        width:60vw;
    }

}

@media screen and (min-width:0) and (max-width:1000px){

    nav{
        display:inline-block;
    }

    .profile{
        height: 120%;
        padding-bottom:50px;
    }

    .contentProfile{
        /* プロフィールを縦に並べる */
        width:60vw;
        border-radius: 20px;
        margin-top:25px;
    }

    .contentLeft img{
        margin-top:30px;
        width:60%;
        border-radius: 50px;
    }

    .htmlCSS, .skillOthers{
        width:60vw;
    }

}

@media screen and (min-width:0) and (max-width:670px){

    .navButton{
        visibility: visible
    }

    nav{
        display:none;
        margin-top:80px;
        width:40vw;
        padding:0;
    }

    nav li{
        text-align: center;
        float: none;
        cursor: pointer;
        background-color: rgba(250, 235, 215, 0.8);
    }
}
