*{
    margin:0px;
    padding:0px;
}

ul{
    list-style: none;
}

header{
    width:100%;
    height:10vh;
    color:rgb(137, 175, 219);
    background-color: antiquewhite;
    position: fixed;
    z-index: 2;
}

header h1{
    float: left;
    line-height: 10vh;
    padding-left: 10px;
}

nav{
    float: right;
    cursor: pointer;
    padding-right:20px;
}

nav li{
    font-size:20px;
    line-height: 10vh;
    padding-right:20px;
    float:left;
}
