*{
    margin:0;
    padding:0;
}

ul{
    list-style: none;
}

header{
    width:100%;
    height:10vh;
    color:rgb(137, 175, 219);
    background-color: antiquewhite;
    position: fixed;
    z-index: 2;
}

.topButton{
    float: left;
    line-height: 10vh;
    padding-left: 10px;
    cursor: pointer;
}

nav{
    float: right;
    cursor: pointer;
    padding-right:20px;
}

nav li{
    font-size:28px;
    line-height: 10vh;
    padding-right:20px;
    float:left;
}

footer{
    bottom:0;
    width:100%;
    height:100px;
    color:rgb(137, 175, 219);
    background-color: antiquewhite;
}

footer h1{
    line-height: 10vh;
    float:left;
}

.sns{
    font-size:30px;
    text-align: center;
    padding:10px 20px 0 0;
    float:right;
}

.sns span{
    cursor: pointer;
}

.fa-twitter{
    color:#1DA1F2;
}

.fa-instagram{
    padding-right:5px;
    color:#D93177;
}

.fa-search{
    padding-right:5px;
    color:#4cb10d;
}

.profile{
    padding-top:10vh;
    /* 真ん中に配置する */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-wrap: wrap;
    background:linear-gradient(90deg,rgba(238, 240, 159, 0.4) 0%,rgba(238, 240, 159, 0.4) 40%,rgba(120, 212, 224, 0.4) 40%,rgba(120, 212, 224, 0.4) 100%);
}

.contentProfile{
    text-align: center;
    width:30vw;
    padding-top:25px;
    height:70%;
}

.contentLeft{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(120, 212, 224);
    color:rgb(240, 235, 159);
}

.contentLeft h1{
    padding-top:20px;
    font-size: 60px;
}

.contentLeft img{
    padding-top:20px;
    width:50%;
    border-radius: 50px;
}

/* SNSのアイコン */
.contentLeft span{
    padding-top:10px;
    font-size:50px;
    padding-left:10px;
    cursor: pointer;
}

.smallQiita{
    font-size:20px;
}

.fa-envelope{
    color:rgb(68, 68, 211);
}

.contentRight{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color:rgb(238, 240, 159);
    color:rgb(120, 174, 224);
}

.contentRight h1{
    padding-top:20px;
    font-size: 70px;
}

/* リンク */
.contentRight a{
    padding-right:20px;
    font-size: 36px;
    cursor: pointer;
}

/* 自己紹介文 */
.contentRight p{
    text-align: center;
    padding:20px 40px;
}

.skill{
    /* 真ん中に配置する */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-wrap: wrap;
    background:linear-gradient(90deg,rgb(227, 246, 245) 0%,rgb(227, 246, 245) 60%,rgb(255, 246, 199) 60%,rgb(255, 246, 199) 100%);
}

.skill h1, h2{
    text-align: center;
    padding-top:20px;
    
}

.skill h1, .skill h1 span{
    font-size:60px;
    color:rgb(120, 153, 224);
}

.skill span{
    font-size:30px;
}

.htmlCSS{
    border-radius: 20px;
    margin-top:20px;
    padding:20px 0;
    text-align: center;
    width:40vw;
    color:rgb(120, 153, 224);
    background-color: #bae8e8;
}

.skillOthers{
    border-radius: 20px;
    margin-top:20px;
    padding:20px 0;
    text-align: center;
    width:40vw;
    color:rgb(120, 153, 224);
    background-color: #faea92;
}