*{
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

ul{
    list-style: none;
}

header{
    width:100%;
    height:100px;
    color:rgb(137, 175, 219);
    background-color: antiquewhite;
    position: fixed;
    z-index: 2;
}

.topButton{
    float: left;
    line-height: 100px;
    padding-left: 10px;
    cursor: pointer;
}

.navButton{
    visibility: hidden;
    font-size:4em;
    padding:20px 20px 0 0;
    cursor:pointer;
    position: absolute;
    right:0;
}

nav{
    float: right;
    cursor: pointer;
    padding-right:20px;
}

nav li{
    font-size:28px;
    line-height: 100px;
    padding-right:20px;
    float:left;
}

nav a{
    color:rgb(137, 175, 219);
}


footer{
    bottom:0;
    width:100%;
    height:100px;
    color:rgb(137, 175, 219);
    background-color: antiquewhite;
}

footer h1{
    padding:10px 20px 0 0;
    line-height: 100px;
    float:left;
}

.sns{
    font-size:30px;
    text-align: center;
    padding:10px 20px 0 0;
    float:right;
}

.sns span{
    cursor: pointer;
}

.fa-twitter{
    color:#1DA1F2;
}

.fa-instagram{
    padding-right:5px;
    color:#D93177;
}

.fa-search{
    padding-right:5px;
    color:#4cb10d;
}

.content{
    height:100%;
    padding-top:100px;
    padding-bottom:100px;
    background:linear-gradient(to right,rgba(238, 240, 159, 0.4) 0%,rgba(238, 240, 159, 0.4) 40%,rgba(120, 212, 224, 0.4) 40%,rgba(120, 212, 224, 0.4) 100%);
}

.content h1{
    padding-top:10px;
    text-align: center;
    font-size:88px;
    color:rgb(120, 162, 224);
}

.contentWorks{
    /* 真ん中に配置する */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.portfolio, .travel, .rails{
    flex-basis: 500px;
    text-align: center;
    padding:10px;
}

.travel{
    padding-left:50px;
}

.buttonPortfolio, .buttonTravel, .buttonRails{
    height:300px;
    cursor: pointer;
    padding:5px;
    margin-top:50px;
    background-color: white;
    box-shadow: 10px 10px rgb(120, 162, 224);
}


.buttonPortfolio:hover, 
.buttonTravel:hover,
.buttonRails:hover{
    cursor: pointer;
    box-shadow: none;
     /* 拡大する */
    transform: scale(1.1);
}

.buttonPortfolio:active, 
.buttonTravel:active,
.buttonRails:active {
    box-shadow: none;
    transform: scale(1.1);
}

.pop_up{
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(227, 246, 245, 0.6);
    z-index: 2;
}

.contentCenter{
    display: flex;
    justify-content: center;
}

.contentPopup{
    top:15%;
    padding:50px;
    background-color: rgb(227, 246, 245);
    position: fixed;
    z-index: 2;
}

.contentPopup img{
    cursor: pointer;
    width:500px;
    background-color: white;
    padding:5px;
}

.contentPopup img:hover{
    transform: scale(1.1);
}

.contentPopup h2{
    padding-top:20px;
}

.github, .github:visited{
    color:blue;
    text-decoration: underline blue;
}