*{
    margin:0;
    padding:0;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

header{
    width:100%;
    height:10vh;
    color:rgb(137, 175, 219);
    background-color: antiquewhite;
    position: fixed;
    z-index: 2;
}

.topButton{
    float: left;
    line-height: 10vh;
    padding-left: 10px;
    cursor: pointer;
}

.navButton{
    visibility: hidden;
    font-size:4em;
    padding:20px 20px 0 0;
    cursor:pointer;
    position: absolute;
    right:0;
}

nav{
    float: right;
    cursor: pointer;
    padding-right:20px;
}

nav li{
    font-size:28px;
    line-height: 10vh;
    padding-right:20px;
    float:left;
}

nav a{
    color:rgb(137, 175, 219);
}


footer{
    bottom:0;
    width:100%;
    height:100px;
    color:rgb(137, 175, 219);
    background-color: antiquewhite;
}

footer h1{
    line-height: 10vh;
    float:left;
}

.sns{
    font-size:30px;
    text-align: center;
    padding:10px 20px 0 0;
    float:right;
}

.sns span{
    cursor: pointer;
}

.fa-twitter{
    color:#1DA1F2;
}

.fa-instagram{
    padding-right:5px;
    color:#D93177;
}

.fa-search{
    padding-right:5px;
    color:#4cb10d;
}

.content{
    /* 真ん中に配置する */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    flex-wrap: wrap;
    text-align: center;
    background:linear-gradient(to right,rgba(238, 240, 159, 0.4) 0%,rgba(238, 240, 159, 0.4) 40%,rgba(120, 212, 224, 0.4) 40%,rgba(120, 212, 224, 0.4) 100%);
    padding-bottom:40px;
    padding-top:150px;
}

.contentResume{
    padding-bottom:20px;
    background-color: rgba(254, 255, 208, 0.8);
    color: rgb(120, 174, 224);
    border-radius: 20px;
    width:60%;
}

.content h1{
    padding-top:20px;
}

.content h2{
    padding:15px 0;
}

.content p{
    padding:0 100px;
}