*{
    margin:0;
    padding:0;
}

ul{
    list-style: none;
}

header{
    width:100%;
    height:10vh;
    color:rgb(137, 175, 219);
    background-color: antiquewhite;
    position: fixed;
    z-index: 2;
}

.topButton{
    float: left;
    line-height: 10vh;
    padding-left: 10px;
    cursor: pointer;
}

nav{
    float: right;
    cursor: pointer;
    padding-right:20px;
}

nav li{
    font-size:28px;
    line-height: 10vh;
    padding-right:20px;
    float:left;
}

footer{
    bottom:0;
    width:100%;
    height:10vh;
    color:rgb(137, 175, 219);
    background-color: antiquewhite;
}

footer h1{
    line-height: 10vh;
    float:left;
}

.sns{
    font-size:30px;
    text-align: center;
    padding:10px 20px 0 0;
    float:right;
}

.sns span{
    cursor: pointer;
}

.fa-twitter{
    color:#1DA1F2;
}

.fa-instagram{
    padding-right:5px;
    color:#D93177;
}

.fa-search{
    padding-right:5px;
    color:#4cb10d;
}

.content{
    /* 真ん中に配置する */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
    text-align: center;
    background:linear-gradient(to right,rgb(227, 246, 245) 0%,rgb(227, 246, 245) 60%,rgb(255, 246, 199) 60%,rgb(255, 246, 199) 100%);
}

.contentResume{
    margin-top:100px;
    padding-bottom:20px;
    background-color: rgba(254, 255, 208, 0.5);
    color: rgb(120, 174, 224);
    border-radius: 20px;
    width:60%;
}

.content h1{
    padding-top:20px;
}

.content h2{
    padding:15px 0;
}
